<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<h2>
    <f:translate key="previous" />
</h2>
<a class="btn-ku-driftinfo" data-bs-toggle="collapse" href="#previous" role="button" aria-expanded="false" aria-controls="previous">
    <f:translate key="seePrevious" />
</a>
<div class="collapse" id="previous">
    <ul class="list-unstyled">
        <f:for each="{previousinfo.item -> kuDriftinfo:iterator.sort(sortBy: 'starttid', order: 'ASC', sortFlags: 'SORT_STRING')}" as="item">
            <li>
                <a class="btn-ku-driftinfo" data-bs-toggle="collapse" href="#collapse-{item.id}" role="button" aria-expanded="false" aria-controls="collapse-{item.id}">
                    <f:format.html>{item.starttid.0}: {item.overskrift.0}</f:format.html>
                </a>
                <div class="collapse" id="collapse-{item.id}">
                    <f:render partial="Details" arguments="{_all}" />
                </div>
            </li>
        </f:for>
    </ul>
</div>

</html>
